/*
 * Prism.js Catppuccin Latte Theme (Light)
 * Based on https://catppuccin.com
 */

code[class*="language-"],
pre.ag-paragraph {
  color: #4c4f69;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre.ag-paragraph {
  background: #e6e9ef;
}

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9ca0b0;
}

.token.punctuation {
  color: #5c5f77;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #d20f39;
}

.token.boolean,
.token.number {
  color: #fe640b;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #40a02b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #179299;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #1e66f5;
}

.token.keyword {
  color: #8839ef;
}

.token.regex,
.token.important,
.token.variable {
  color: #df8e1d;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
