/*
 * Prism.js Nightfox Theme
 * Based on https://github.com/EdenEast/nightfox.nvim
 */

code[class*="language-"],
pre.ag-paragraph {
  color: #cdcecf;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre.ag-paragraph {
  background: #212e3f;
}

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #738091;
}

.token.punctuation {
  color: #cdcecf;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c94f6d;
}

.token.boolean,
.token.number {
  color: #f4a261;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #81b29a;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #63cdcf;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #dbc074;
}

.token.keyword {
  color: #9d79d6;
}

.token.regex,
.token.important,
.token.variable {
  color: #719cd6;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
