:root {
  /*editor - Ayu Dark theme*/
  --themeColor: #39bae6;
  --themeColor90: rgba(57, 186, 230, .9);
  --themeColor80: rgba(57, 186, 230, .8);
  --themeColor70: rgba(57, 186, 230, .7);
  --themeColor60: rgba(57, 186, 230, .6);
  --themeColor50: rgba(57, 186, 230, .5);
  --themeColor40: rgba(57, 186, 230, .4);
  --themeColor30: rgba(57, 186, 230, .3);
  --themeColor20: rgba(57, 186, 230, .2);
  --themeColor10: rgba(57, 186, 230, .1);

  --highlightColor: rgba(57, 186, 230, .6);
  --selectionColor: rgba(27, 38, 51, .8);
  --editorColor: #b3b1ad;
  --editorColor80: rgba(179, 177, 173, .8);
  --editorColor60: rgba(179, 177, 173, .6);
  --editorColor50: rgba(179, 177, 173, .5);
  --editorColor40: rgba(179, 177, 173, .4);
  --editorColor30: rgba(179, 177, 173, .3);
  --editorColor10: rgba(179, 177, 173, .1);
  --editorColor04: rgba(179, 177, 173, .04);
  --editorBgColor: #0a0e14;
  --deleteColor: #f07178;
  --iconColor: rgba(179, 177, 173, .56);
  --codeBgColor: #131721;
  --codeBlockBgColor: #131721;
  --footnoteBgColor: rgba(19, 23, 33, .3);
  --inputBgColor: #050709;

  --focusColor: var(--themeColor);

  --buttonFontColor: rgba(179, 177, 173, .6);
  --buttonBgColor: #131721;
  --buttonBorder: 1px solid rgba(0, 0, 0, 0.2);
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: #1b2230;
  --buttonBorderHover: 1px solid rgba(0, 0, 0, 0.3);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #0d1118;
  --buttonBorderActive: var(--buttonBorder);

  --buttonPrimaryFontColor: #0a0e14;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: none;
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: #59c2ff;
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: #2a9ac7;
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(24, 26, 31, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #131721;

  /* Markdown element colors */
  --headingColor: #e6e1cf;
  --h1Color: #ff8f40;
  --h2Color: #39bae6;
  --h3Color: #c2d94c;
  --h4Color: #59c2ff;
  --h5Color: #f29668;
  --h6Color: #f07178;
  --blockquoteTextColor: rgba(179, 177, 173, .6);
  --blockquoteBorderColor: #4d5566;
  --hrColor: #1b2230;
  --linkColor: #39bae6;
  --strongColor: #e6e1cf;
  --emColor: #ffb454;
  --listMarkerColor: #ff8f40;

  /*marktext*/
  --sideBarColor: rgba(179, 177, 173, .6);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(179, 177, 173, .8);
  --sideBarTextColor: rgba(179, 177, 173, .4);
  --sideBarBgColor: #050709;
  --sideBarItemHoverBgColor: rgba(179, 177, 173, .03);
  --itemBgColor: #131721;

  --floatFontColor: rgba(179, 177, 173, .7);
  --floatBgColor: #131721;
  --floatHoverColor: rgba(179, 177, 173, .04);
  --floatBorderColor: rgba(0, 0, 0, .05);
  --floatShadow: rgba(0, 0, 0, 0.2);
  --maskColor: rgba(0, 0, 0, .7);
  --editorAreaWidth: 750px;
}

::-webkit-scrollbar {
  background: var(--editorBgColor);
}

.ag-front-menu .submenu,
.ag-float-wrapper {
  box-shadow: 0 4px 8px 0 var(--floatShadow) !important;
}

.title-bar .frameless-titlebar-button > div > svg {
  fill: #b3b1ad;
}
.title-bar .frameless-titlebar-minimize:hover,
.title-bar .frameless-titlebar-toggle:hover {
  background-color: rgba(179, 177, 173, .05);
}

.side-bar {
  border-right: 1px solid #030406 !important;
}

.recent-files-projects a,
.open-project a {
  box-shadow: none !important;
}

.editor-tabs {
  box-shadow: none !important;
}
.editor-tabs:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #030406;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.editor-tabs ul.tabs-container:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #030406;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.tabs-container > li,
.tabs-container > li.active {
  background: var(--editorBgColor) !important;
}

.open-project button,
.recent-files-projects button {
  box-shadow: none !important;
}

/* ------------------------------------ */

:not(pre) > code[class*="language-"],
pre:not(.CodeMirror-line),
pre[class*="language-"],
pre.ag-paragraph {
  background: var(--codeBlockBgColor) !important;
  border: none !important;
}
p:not(.ag-active)[data-role="hr"]::before {
  border-top: 2px dashed var(--editorColor10) !important;
  background: none !important;
}
figure.ag-active.ag-container-block > div.ag-container-preview {
  box-shadow: 0 3px 8px 0 var(--floatShadow) !important;
}
