:root {
  /*editor - Ayu Light theme*/
  --themeColor: #399ee6;
  --themeColor90: rgba(57, 158, 230, .9);
  --themeColor80: rgba(57, 158, 230, .8);
  --themeColor70: rgba(57, 158, 230, .7);
  --themeColor60: rgba(57, 158, 230, .6);
  --themeColor50: rgba(57, 158, 230, .5);
  --themeColor40: rgba(57, 158, 230, .4);
  --themeColor30: rgba(57, 158, 230, .3);
  --themeColor20: rgba(57, 158, 230, .2);
  --themeColor10: rgba(57, 158, 230, .1);

  --highlightColor: rgba(57, 158, 230, .3);
  --selectionColor: rgba(214, 226, 235, .8);
  --editorColor: #575f66;
  --editorColor80: rgba(87, 95, 102, .8);
  --editorColor60: rgba(87, 95, 102, .6);
  --editorColor50: rgba(87, 95, 102, .5);
  --editorColor40: rgba(87, 95, 102, .4);
  --editorColor30: rgba(87, 95, 102, .3);
  --editorColor10: rgba(87, 95, 102, .1);
  --editorColor04: rgba(87, 95, 102, .04);
  --editorBgColor: #fafafa;
  --deleteColor: #f07171;
  --iconColor: rgba(87, 95, 102, .56);
  --codeBgColor: #f0f0f0;
  --codeBlockBgColor: #f0f0f0;
  --footnoteBgColor: rgba(240, 240, 240, .5);
  --inputBgColor: #f3f3f3;

  --focusColor: var(--themeColor);

  --buttonFontColor: rgba(87, 95, 102, .7);
  --buttonBgColor: #f0f0f0;
  --buttonBorder: 1px solid rgba(0, 0, 0, 0.08);
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: #e5e5e5;
  --buttonBorderHover: 1px solid rgba(0, 0, 0, 0.12);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #dbdbdb;
  --buttonBorderActive: var(--buttonBorder);

  --buttonPrimaryFontColor: #ffffff;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: none;
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: #55b4fc;
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: #2a85c7;
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #dbdbdb;

  /* Markdown element colors */
  --headingColor: #575f66;
  --h1Color: #fa8d3e;
  --h2Color: #399ee6;
  --h3Color: #86b300;
  --h4Color: #55b4d4;
  --h5Color: #a37acc;
  --h6Color: #f07171;
  --blockquoteTextColor: rgba(87, 95, 102, .6);
  --blockquoteBorderColor: #abb0b6;
  --hrColor: #dbdbdb;
  --linkColor: #399ee6;
  --strongColor: #575f66;
  --emColor: #e6ba7e;
  --listMarkerColor: #fa8d3e;

  /*marktext*/
  --sideBarColor: rgba(87, 95, 102, .7);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(87, 95, 102, .9);
  --sideBarTextColor: rgba(87, 95, 102, .5);
  --sideBarBgColor: #f0f0f0;
  --sideBarItemHoverBgColor: rgba(87, 95, 102, .05);
  --itemBgColor: #e5e5e5;

  --floatFontColor: rgba(87, 95, 102, .8);
  --floatBgColor: #f0f0f0;
  --floatHoverColor: rgba(87, 95, 102, .06);
  --floatBorderColor: rgba(0, 0, 0, .08);
  --floatShadow: rgba(0, 0, 0, 0.1);
  --maskColor: rgba(0, 0, 0, .3);
  --editorAreaWidth: 750px;
}

::-webkit-scrollbar {
  background: var(--editorBgColor);
}

.ag-front-menu .submenu,
.ag-float-wrapper {
  box-shadow: 0 4px 8px 0 var(--floatShadow) !important;
}

.title-bar .frameless-titlebar-button > div > svg {
  fill: #575f66;
}
.title-bar .frameless-titlebar-minimize:hover,
.title-bar .frameless-titlebar-toggle:hover {
  background-color: rgba(87, 95, 102, .08);
}

.side-bar {
  border-right: 1px solid #dbdbdb !important;
}

.recent-files-projects a,
.open-project a {
  box-shadow: none !important;
}

.editor-tabs {
  box-shadow: none !important;
}
.editor-tabs:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #dbdbdb;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.editor-tabs ul.tabs-container:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #dbdbdb;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.tabs-container > li,
.tabs-container > li.active {
  background: var(--editorBgColor) !important;
}

.open-project button,
.recent-files-projects button {
  box-shadow: none !important;
}

/* ------------------------------------ */

:not(pre) > code[class*="language-"],
pre:not(.CodeMirror-line),
pre[class*="language-"],
pre.ag-paragraph {
  background: var(--codeBlockBgColor) !important;
  border: none !important;
}
p:not(.ag-active)[data-role="hr"]::before {
  border-top: 2px dashed var(--editorColor10) !important;
  background: none !important;
}
figure.ag-active.ag-container-block > div.ag-container-preview {
  box-shadow: 0 3px 8px 0 var(--floatShadow) !important;
}
