:root {
  /*editor - Monokai Pro theme*/
  --themeColor: #ffd866;
  --themeColor90: rgba(255, 216, 102, .9);
  --themeColor80: rgba(255, 216, 102, .8);
  --themeColor70: rgba(255, 216, 102, .7);
  --themeColor60: rgba(255, 216, 102, .6);
  --themeColor50: rgba(255, 216, 102, .5);
  --themeColor40: rgba(255, 216, 102, .4);
  --themeColor30: rgba(255, 216, 102, .3);
  --themeColor20: rgba(255, 216, 102, .2);
  --themeColor10: rgba(255, 216, 102, .1);

  --highlightColor: rgba(255, 216, 102, .6);
  --selectionColor: rgba(73, 72, 62, .8);
  --editorColor: #fcfcfa;
  --editorColor80: rgba(252, 252, 250, .8);
  --editorColor60: rgba(252, 252, 250, .6);
  --editorColor50: rgba(252, 252, 250, .5);
  --editorColor40: rgba(252, 252, 250, .4);
  --editorColor30: rgba(252, 252, 250, .3);
  --editorColor10: rgba(252, 252, 250, .1);
  --editorColor04: rgba(252, 252, 250, .04);
  --editorBgColor: #2d2a2e;
  --deleteColor: #ff6188;
  --iconColor: rgba(252, 252, 250, .56);
  --codeBgColor: #403e41;
  --codeBlockBgColor: #403e41;
  --footnoteBgColor: rgba(64, 62, 65, .3);
  --inputBgColor: #221f22;

  --focusColor: var(--themeColor);

  --buttonFontColor: rgba(252, 252, 250, .6);
  --buttonBgColor: #403e41;
  --buttonBorder: 1px solid rgba(0, 0, 0, 0.2);
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: #5b595c;
  --buttonBorderHover: 1px solid rgba(0, 0, 0, 0.3);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #363337;
  --buttonBorderActive: var(--buttonBorder);

  --buttonPrimaryFontColor: #2d2a2e;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: none;
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: #78dce8;
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: #e6c24d;
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(24, 26, 31, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #403e41;

  /* Markdown element colors */
  --headingColor: #fcfcfa;
  --h1Color: #ff6188;
  --h2Color: #ffd866;
  --h3Color: #a9dc76;
  --h4Color: #78dce8;
  --h5Color: #ab9df2;
  --h6Color: #fc9867;
  --blockquoteTextColor: rgba(252, 252, 250, .6);
  --blockquoteBorderColor: #727072;
  --hrColor: #5b595c;
  --linkColor: #78dce8;
  --strongColor: #fcfcfa;
  --emColor: #ffd866;
  --listMarkerColor: #ff6188;

  /*marktext*/
  --sideBarColor: rgba(252, 252, 250, .6);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(252, 252, 250, .8);
  --sideBarTextColor: rgba(252, 252, 250, .4);
  --sideBarBgColor: #221f22;
  --sideBarItemHoverBgColor: rgba(252, 252, 250, .03);
  --itemBgColor: #403e41;

  --floatFontColor: rgba(252, 252, 250, .7);
  --floatBgColor: #403e41;
  --floatHoverColor: rgba(252, 252, 250, .04);
  --floatBorderColor: rgba(0, 0, 0, .05);
  --floatShadow: rgba(0, 0, 0, 0.2);
  --maskColor: rgba(0, 0, 0, .7);
  --editorAreaWidth: 750px;
}

::-webkit-scrollbar {
  background: var(--editorBgColor);
}

.ag-front-menu .submenu,
.ag-float-wrapper {
  box-shadow: 0 4px 8px 0 var(--floatShadow) !important;
}

.title-bar .frameless-titlebar-button > div > svg {
  fill: #fcfcfa;
}
.title-bar .frameless-titlebar-minimize:hover,
.title-bar .frameless-titlebar-toggle:hover {
  background-color: rgba(252, 252, 250, .05);
}

.side-bar {
  border-right: 1px solid #1b191b !important;
}

.recent-files-projects a,
.open-project a {
  box-shadow: none !important;
}

.editor-tabs {
  box-shadow: none !important;
}
.editor-tabs:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #1b191b;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.editor-tabs ul.tabs-container:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #1b191b;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.tabs-container > li,
.tabs-container > li.active {
  background: var(--editorBgColor) !important;
}

.open-project button,
.recent-files-projects button {
  box-shadow: none !important;
}

/* ------------------------------------ */

:not(pre) > code[class*="language-"],
pre:not(.CodeMirror-line),
pre[class*="language-"],
pre.ag-paragraph {
  background: var(--codeBlockBgColor) !important;
  border: none !important;
}
p:not(.ag-active)[data-role="hr"]::before {
  border-top: 2px dashed var(--editorColor10) !important;
  background: none !important;
}
figure.ag-active.ag-container-block > div.ag-container-preview {
  box-shadow: 0 3px 8px 0 var(--floatShadow) !important;
}
