:root {
  /*editor - Nord theme*/
  --themeColor: #81a1c1;
  --themeColor90: rgba(129, 161, 193, .9);
  --themeColor80: rgba(129, 161, 193, .8);
  --themeColor70: rgba(129, 161, 193, .7);
  --themeColor60: rgba(129, 161, 193, .6);
  --themeColor50: rgba(129, 161, 193, .5);
  --themeColor40: rgba(129, 161, 193, .4);
  --themeColor30: rgba(129, 161, 193, .3);
  --themeColor20: rgba(129, 161, 193, .2);
  --themeColor10: rgba(129, 161, 193, .1);

  --highlightColor: rgba(129, 161, 193, .6);
  --selectionColor: rgba(76, 86, 106, .6);
  --editorColor: #d8dee9;
  --editorColor80: rgba(216, 222, 233, .8);
  --editorColor60: rgba(216, 222, 233, .6);
  --editorColor50: rgba(216, 222, 233, .5);
  --editorColor40: rgba(216, 222, 233, .4);
  --editorColor30: rgba(216, 222, 233, .3);
  --editorColor10: rgba(216, 222, 233, .1);
  --editorColor04: rgba(216, 222, 233, .04);
  --editorBgColor: #2e3440;
  --deleteColor: #bf616a;
  --iconColor: rgba(216, 222, 233, .56);
  --codeBgColor: #3b4252;
  --codeBlockBgColor: #3b4252;
  --footnoteBgColor: rgba(59, 66, 82, .3);
  --inputBgColor: #292e39;

  --focusColor: var(--themeColor);

  --buttonFontColor: rgba(216, 222, 233, .6);
  --buttonBgColor: #3b4252;
  --buttonBorder: 1px solid rgba(0, 0, 0, 0.2);
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: #434c5e;
  --buttonBorderHover: 1px solid rgba(0, 0, 0, 0.3);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #353b47;
  --buttonBorderActive: var(--buttonBorder);

  --buttonPrimaryFontColor: #2e3440;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: none;
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: #8fbcbb;
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: #5e81ac;
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(24, 26, 31, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #3b4252;

  /* Markdown element colors */
  --headingColor: #eceff4;
  --h1Color: #88c0d0;
  --h2Color: #81a1c1;
  --h3Color: #5e81ac;
  --h4Color: #b48ead;
  --h5Color: #a3be8c;
  --h6Color: #ebcb8b;
  --blockquoteTextColor: rgba(216, 222, 233, .6);
  --blockquoteBorderColor: #5e81ac;
  --hrColor: #4c566a;
  --linkColor: #88c0d0;
  --strongColor: #eceff4;
  --emColor: #ebcb8b;
  --listMarkerColor: #81a1c1;

  /*marktext*/
  --sideBarColor: rgba(216, 222, 233, .6);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(216, 222, 233, .8);
  --sideBarTextColor: rgba(216, 222, 233, .4);
  --sideBarBgColor: #292e39;
  --sideBarItemHoverBgColor: rgba(216, 222, 233, .03);
  --itemBgColor: #3b4252;

  --floatFontColor: rgba(216, 222, 233, .7);
  --floatBgColor: #3b4252;
  --floatHoverColor: rgba(216, 222, 233, .04);
  --floatBorderColor: rgba(0, 0, 0, .05);
  --floatShadow: rgba(0, 0, 0, 0.2);
  --maskColor: rgba(0, 0, 0, .7);
  --editorAreaWidth: 750px;
}

::-webkit-scrollbar {
  background: var(--editorBgColor);
}

.ag-front-menu .submenu,
.ag-float-wrapper {
  box-shadow: 0 4px 8px 0 var(--floatShadow) !important;
}

.title-bar .frameless-titlebar-button > div > svg {
  fill: #d8dee9;
}
.title-bar .frameless-titlebar-minimize:hover,
.title-bar .frameless-titlebar-toggle:hover {
  background-color: rgba(216, 222, 233, .05);
}

.side-bar {
  border-right: 1px solid #252a34 !important;
}

.recent-files-projects a,
.open-project a {
  box-shadow: none !important;
}

.editor-tabs {
  box-shadow: none !important;
}
.editor-tabs:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #252a34;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.editor-tabs ul.tabs-container:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #252a34;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.tabs-container > li,
.tabs-container > li.active {
  background: var(--editorBgColor) !important;
}

.open-project button,
.recent-files-projects button {
  box-shadow: none !important;
}

/* ------------------------------------ */

:not(pre) > code[class*="language-"],
pre:not(.CodeMirror-line),
pre[class*="language-"],
pre.ag-paragraph {
  background: var(--codeBlockBgColor) !important;
  border: none !important;
}
p:not(.ag-active)[data-role="hr"]::before {
  border-top: 2px dashed var(--editorColor10) !important;
  background: none !important;
}
figure.ag-active.ag-container-block > div.ag-container-preview {
  box-shadow: 0 3px 8px 0 var(--floatShadow) !important;
}
