:root {
  /*editor - Oxocarbon Dark theme*/
  --themeColor: #78a9ff;
  --themeColor90: rgba(120, 169, 255, .9);
  --themeColor80: rgba(120, 169, 255, .8);
  --themeColor70: rgba(120, 169, 255, .7);
  --themeColor60: rgba(120, 169, 255, .6);
  --themeColor50: rgba(120, 169, 255, .5);
  --themeColor40: rgba(120, 169, 255, .4);
  --themeColor30: rgba(120, 169, 255, .3);
  --themeColor20: rgba(120, 169, 255, .2);
  --themeColor10: rgba(120, 169, 255, .1);

  --highlightColor: rgba(120, 169, 255, .6);
  --selectionColor: rgba(57, 57, 57, .8);
  --editorColor: #f2f4f8;
  --editorColor80: rgba(242, 244, 248, .8);
  --editorColor60: rgba(242, 244, 248, .6);
  --editorColor50: rgba(242, 244, 248, .5);
  --editorColor40: rgba(242, 244, 248, .4);
  --editorColor30: rgba(242, 244, 248, .3);
  --editorColor10: rgba(242, 244, 248, .1);
  --editorColor04: rgba(242, 244, 248, .04);
  --editorBgColor: #161616;
  --deleteColor: #ee5396;
  --iconColor: rgba(242, 244, 248, .56);
  --codeBgColor: #262626;
  --codeBlockBgColor: #262626;
  --footnoteBgColor: rgba(38, 38, 38, .3);
  --inputBgColor: #0d0d0d;

  --focusColor: var(--themeColor);

  --buttonFontColor: rgba(242, 244, 248, .6);
  --buttonBgColor: #262626;
  --buttonBorder: 1px solid rgba(0, 0, 0, 0.2);
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: #393939;
  --buttonBorderHover: 1px solid rgba(0, 0, 0, 0.3);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #1e1e1e;
  --buttonBorderActive: var(--buttonBorder);

  --buttonPrimaryFontColor: #161616;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: none;
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: #33b1ff;
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: #5890e6;
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(24, 26, 31, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #262626;

  /* Markdown element colors */
  --headingColor: #f2f4f8;
  --h1Color: #ee5396;
  --h2Color: #78a9ff;
  --h3Color: #42be65;
  --h4Color: #33b1ff;
  --h5Color: #be95ff;
  --h6Color: #ff7eb6;
  --blockquoteTextColor: rgba(242, 244, 248, .6);
  --blockquoteBorderColor: #525252;
  --hrColor: #393939;
  --linkColor: #78a9ff;
  --strongColor: #f2f4f8;
  --emColor: #be95ff;
  --listMarkerColor: #33b1ff;

  /*marktext*/
  --sideBarColor: rgba(242, 244, 248, .6);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(242, 244, 248, .8);
  --sideBarTextColor: rgba(242, 244, 248, .4);
  --sideBarBgColor: #0d0d0d;
  --sideBarItemHoverBgColor: rgba(242, 244, 248, .03);
  --itemBgColor: #262626;

  --floatFontColor: rgba(242, 244, 248, .7);
  --floatBgColor: #262626;
  --floatHoverColor: rgba(242, 244, 248, .04);
  --floatBorderColor: rgba(0, 0, 0, .05);
  --floatShadow: rgba(0, 0, 0, 0.2);
  --maskColor: rgba(0, 0, 0, .7);
  --editorAreaWidth: 750px;
}

::-webkit-scrollbar {
  background: var(--editorBgColor);
}

.ag-front-menu .submenu,
.ag-float-wrapper {
  box-shadow: 0 4px 8px 0 var(--floatShadow) !important;
}

.title-bar .frameless-titlebar-button > div > svg {
  fill: #f2f4f8;
}
.title-bar .frameless-titlebar-minimize:hover,
.title-bar .frameless-titlebar-toggle:hover {
  background-color: rgba(242, 244, 248, .05);
}

.side-bar {
  border-right: 1px solid #080808 !important;
}

.recent-files-projects a,
.open-project a {
  box-shadow: none !important;
}

.editor-tabs {
  box-shadow: none !important;
}
.editor-tabs:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #080808;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.editor-tabs ul.tabs-container:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #080808;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.tabs-container > li,
.tabs-container > li.active {
  background: var(--editorBgColor) !important;
}

.open-project button,
.recent-files-projects button {
  box-shadow: none !important;
}

/* ------------------------------------ */

:not(pre) > code[class*="language-"],
pre:not(.CodeMirror-line),
pre[class*="language-"],
pre.ag-paragraph {
  background: var(--codeBlockBgColor) !important;
  border: none !important;
}
p:not(.ag-active)[data-role="hr"]::before {
  border-top: 2px dashed var(--editorColor10) !important;
  background: none !important;
}
figure.ag-active.ag-container-block > div.ag-container-preview {
  box-shadow: 0 3px 8px 0 var(--floatShadow) !important;
}
