:root {
  /*editor - Synthwave 84 theme*/
  --themeColor: #ff7edb;
  --themeColor90: rgba(255, 126, 219, .9);
  --themeColor80: rgba(255, 126, 219, .8);
  --themeColor70: rgba(255, 126, 219, .7);
  --themeColor60: rgba(255, 126, 219, .6);
  --themeColor50: rgba(255, 126, 219, .5);
  --themeColor40: rgba(255, 126, 219, .4);
  --themeColor30: rgba(255, 126, 219, .3);
  --themeColor20: rgba(255, 126, 219, .2);
  --themeColor10: rgba(255, 126, 219, .1);

  --highlightColor: rgba(255, 126, 219, .6);
  --selectionColor: rgba(52, 41, 72, .8);
  --editorColor: #ffffff;
  --editorColor80: rgba(255, 255, 255, .8);
  --editorColor60: rgba(255, 255, 255, .6);
  --editorColor50: rgba(255, 255, 255, .5);
  --editorColor40: rgba(255, 255, 255, .4);
  --editorColor30: rgba(255, 255, 255, .3);
  --editorColor10: rgba(255, 255, 255, .1);
  --editorColor04: rgba(255, 255, 255, .04);
  --editorBgColor: #262335;
  --deleteColor: #fe4450;
  --iconColor: rgba(255, 255, 255, .56);
  --codeBgColor: #34294a;
  --codeBlockBgColor: #34294a;
  --footnoteBgColor: rgba(52, 41, 74, .3);
  --inputBgColor: #1e1a29;

  --focusColor: var(--themeColor);

  --buttonFontColor: rgba(255, 255, 255, .6);
  --buttonBgColor: #34294a;
  --buttonBorder: 1px solid rgba(0, 0, 0, 0.2);
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: #463860;
  --buttonBorderHover: 1px solid rgba(0, 0, 0, 0.3);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #2b223d;
  --buttonBorderActive: var(--buttonBorder);

  --buttonPrimaryFontColor: #262335;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: none;
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: #72f1b8;
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: #e660c2;
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(24, 26, 31, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #34294a;

  /* Markdown element colors */
  --headingColor: #ffffff;
  --h1Color: #ff7edb;
  --h2Color: #36f9f6;
  --h3Color: #fede5d;
  --h4Color: #72f1b8;
  --h5Color: #f97e72;
  --h6Color: #b084eb;
  --blockquoteTextColor: rgba(255, 255, 255, .6);
  --blockquoteBorderColor: #614d85;
  --hrColor: #463860;
  --linkColor: #36f9f6;
  --strongColor: #ffffff;
  --emColor: #ff7edb;
  --listMarkerColor: #fede5d;

  /*marktext*/
  --sideBarColor: rgba(255, 255, 255, .6);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(255, 255, 255, .8);
  --sideBarTextColor: rgba(255, 255, 255, .4);
  --sideBarBgColor: #1e1a29;
  --sideBarItemHoverBgColor: rgba(255, 255, 255, .03);
  --itemBgColor: #34294a;

  --floatFontColor: rgba(255, 255, 255, .7);
  --floatBgColor: #34294a;
  --floatHoverColor: rgba(255, 255, 255, .04);
  --floatBorderColor: rgba(0, 0, 0, .05);
  --floatShadow: rgba(0, 0, 0, 0.2);
  --maskColor: rgba(0, 0, 0, .7);
  --editorAreaWidth: 750px;
}

::-webkit-scrollbar {
  background: var(--editorBgColor);
}

.ag-front-menu .submenu,
.ag-float-wrapper {
  box-shadow: 0 4px 8px 0 var(--floatShadow) !important;
}

.title-bar .frameless-titlebar-button > div > svg {
  fill: #ffffff;
}
.title-bar .frameless-titlebar-minimize:hover,
.title-bar .frameless-titlebar-toggle:hover {
  background-color: rgba(255, 255, 255, .05);
}

.side-bar {
  border-right: 1px solid #181521 !important;
}

.recent-files-projects a,
.open-project a {
  box-shadow: none !important;
}

.editor-tabs {
  box-shadow: none !important;
}
.editor-tabs:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #181521;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.editor-tabs ul.tabs-container:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #181521;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.tabs-container > li,
.tabs-container > li.active {
  background: var(--editorBgColor) !important;
}

.open-project button,
.recent-files-projects button {
  box-shadow: none !important;
}

/* ------------------------------------ */

:not(pre) > code[class*="language-"],
pre:not(.CodeMirror-line),
pre[class*="language-"],
pre.ag-paragraph {
  background: var(--codeBlockBgColor) !important;
  border: none !important;
}
p:not(.ag-active)[data-role="hr"]::before {
  border-top: 2px dashed var(--editorColor10) !important;
  background: none !important;
}
figure.ag-active.ag-container-block > div.ag-container-preview {
  box-shadow: 0 3px 8px 0 var(--floatShadow) !important;
}
